.input-todo {
    margin-bottom: 1rem 0;
  }

  .input-todo label {
    font-weight: bold;
    display: block;
    margin-bottom: 0.5rem;
    font-size: 28px;
  }
  

  .button {
    margin: 1rem;
    padding: 0.5rem 1rem;
    border: 1px solid #063970;
    background: #1e81b0;
    color: white;
    cursor: pointer;
    border-radius: 15px;
  }

  .button:hover {
    background: #76b5c5;
    border-color: #76b5c5;
  }