h1 {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-top: 5rem;
}
#todos {
  width: 30rem;
  max-width: 100%;
  margin: 2rem auto;
}

#todo-form {
  width: 30rem;
  max-width: 100%;
  margin: 4rem auto;
  padding: 2rem;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}
